<div class="card">
  <div class="item item-text-wrap" ng-click="changeState('app.stats')">
    <i class="icon float-right-avatar ion-person"></i>
    <strong>Your <span class="large-text">Facebook</span></strong> Activity
    <div class="card-footer">
      List and Categorise all your most popular posts. List and Categorise your friends popular posts and photos on your wall or in which you are tagged.
    </div>
  </div>
</div>

<div class="card">
  <div class="item item-text-wrap" ng-click="changeState('app.stats')">
    <i class="icon float-right-avatar ion-person-stalker"></i>
    <strong>Your <span class="large-text">Friends</span></strong> Related Activity
    <div class="card-footer">
      List and Categorise your friends popular posts and photos on your wall or in which you are tagged.
    </div>
  </div>

</div>

<div class="card">
  <div class="item item-text-wrap" ng-click="changeState('app.stats')">
    <i class="icon float-right-avatar ion-ipad"></i>
    <strong>Your <span class="large-text">Installed Apps</span></strong> Activity
    <div class="card-footer">
      List and Categorise 3rd party apps you installed activity by freqeucy. Categorise your friends popular posts and photos on your wall or in which you are tagged.
    </div>
   <!-- <button ng-click="changeState('app.stats')" class="button button-energized-900 button-full no-bottom-margin ink">VIEW</button> -->
  </div>
</div>


<div class="card">
  <div class="item item-text-wrap" ng-click="changeState('app.stats')">
    <i class="icon float-right-avatar ion-ios-analytics-outline"></i>
    <strong>Your <span class="large-text">Digital Footprint</span></strong> Analysis
    <div class="card-footer">
      List and Categorise 3rd party apps you installed activity by freqeucy.<br>
      And also show your how exactly your doing these days big boy
    </div>
  </div>
</div>



