<ion-view class="home-view">
  <ion-nav-title>
    <strong>BigFoot</strong> | Profile
  </ion-nav-title>
  <div class="profile-header-content">
    <div class="hero slide-up" style="min-height:200px;background-image: url({{user.picture}});">
      <div class="dark-overlay"></div>
      <div class="content">
        <div id="imglogo" class="avatar" style="background-image: url({{user.picture}});"></div>
        <div class="user-details">
          <h3><a class="light"><i class="ion-person"></i>&nbsp;{{user.displayName}}</a></h3>
          <h4><i class="ion-at"></i>&nbsp;{{user.email}}</h4>
        </div>
      </div>
    </div>

    <div class="tabs tabs-positive tabs-icon-top tabs-sub-header">
      <a ui-sref="app.home.mydetails" ui-sref-active="active" ng-click="changeStateUrl('mydetails')" class="tab-item">
        <i class="icon ion-person"></i> My Details
      </a>
      <a ui-sref="app.home.analytics" ui-sref-active="active" ng-click="changeStateUrl('analytics')" class="tab-item">
        <i class="icon ion-arrow-graph-up-right"></i> Analytics
      </a>
      <a ng-click="showInformationPopup()" class="tab-item">
        <i class="icon ion-information-circled"></i> Information
      </a>
    </div>
  </div>
  <ion-content profile-header-shrink scroll-watch="244" scroll-event-interval="10" class="grey-background profile-content" ng-class="{expanded:$scope.isExpanded}">

<!--
    <ion-pane>
      <ion-tabs class="tabs-color-assertive tabs-icon-top">
        <ion-tab title="Tab 1">
          <ion-view>

          </ion-view>
        </ion-tab>
        <ion-tab title="Tab 2">
          <ion-view>
            <div ng-include src="'views/analytics.html'"></div>
          </ion-view>
        </ion-tab>
      </ion-tabs>
    </ion-pane> -->




    <div ng-include src="ngIncludeUrl"></div>



     <!--   <ion-nav-view name="dashboardContent"></ion-nav-view> -->

       <!-- <p class="welcome-message">Each question is optional. Feel free to omit a response to any question; however the researcher would be grateful if all questions are responded to.</p> -->


  </ion-content>
</ion-view>
