<ion-view class="home-view">
  <ion-nav-title>
    <strong>BigFoot</strong> | Profile
  </ion-nav-title>
  <div class="profile-header-content">
    <div class="hero slide-up" style="min-height:200px;background-image: url({{user.picture}});">
      <div class="dark-overlay"></div>
      <div class="content">
        <div id="imglogo" class="avatar" style="background-image: url({{user.picture}});"></div>
        <div class="user-details">
          <h3><a class="light"><i class="ion-person"></i>&nbsp;{{user.displayName}}</a></h3>
          <h4><i class="ion-at"></i>&nbsp;{{user.email}}</h4>
        </div>
      </div>
    </div>

    <div class="tabs tabs-positive tabs-icon-top tabs-sub-header">
      <a ng-click="changeStateUrl('mydetails')" ng-class="{ 'active': ngIncludeUrlState === 'mydetails' }" class="tab-item">
        <i class="icon ion-person"></i> My Details
      </a>
      <a ng-click="changeStateUrl('settings')" ng-class="{ 'active': ngIncludeUrlState === 'settings' }" class="tab-item">
        <i class="icon ion-gear-b"></i> Settings
      </a>
      <a ng-click="showInformationPopup()" class="tab-item">
        <i class="icon ion-information-circled"></i> Information
      </a>
    </div>
  </div>
  <ion-content profile-header-shrink scroll-watch="244" scroll-event-interval="10" class="grey-background profile-content" ng-class="{expanded:$scope.isExpanded}">


    <div ng-include src="ngIncludeUrl"></div>



     <!--   <ion-nav-view name="dashboardContent"></ion-nav-view> -->

       <!-- <p class="welcome-message">Each question is optional. Feel free to omit a response to any question; however the researcher would be grateful if all questions are responded to.</p> -->


  </ion-content>
</ion-view>

<script id="question1.html" type="text/ng-template">
  <b>Please complete this one time setup</b>
  <br>
  <br>
  <b>1/5:</b> Do you enjoy that sort of thing hey?<br><br>
  <ion-radio ng-model="$parent.choice" ng-value="'yes'">Yes</ion-radio>
  <ion-radio ng-model="$parent.choice" ng-value="'no'">No</ion-radio>
</script>

<script id="question2.html" type="text/ng-template">
  <b>Please complete this one time setup</b>
  <br>
  <br>
  <b>2/5:</b> Do you hate that sort of thing hey?<br><br>
  <ion-radio ng-model="$parent.choice" ng-value="'yes'">Yes</ion-radio>
  <ion-radio ng-model="$parent.choice" ng-value="'no'">No</ion-radio>
</script>


<script id="question3.html" type="text/ng-template">
  <b>Please complete this one time setup</b>
  <br>
  <br>
  <b>3/5:</b> Do you reject that sort of thing hey?<br><br>
  <ion-radio ng-model="$parent.choice" ng-value="'yes'">Yes</ion-radio>
  <ion-radio ng-model="$parent.choice" ng-value="'no'">No</ion-radio>
</script>

<script id="question4.html" type="text/ng-template">
  <b>Please complete this one time setup</b>
  <br>
  <br>
  <b>4/5:</b> Do you lust for that sort of thing hey?<br><br>
  <ion-radio ng-model="$parent.choice" ng-value="'yes'">Yes</ion-radio>
  <ion-radio ng-model="$parent.choice" ng-value="'no'">No</ion-radio>
</script>
