<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content class="white">
    <ion-nav-bar class="bar-positive no-shadow">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="dark-bg expanded">
      <span class="avatar style" style="background: url({{userImageMenu}}); background-size: cover;"></span>
      <h2 class="avatar style">{{userNameMenu}}</h2>
    </ion-header-bar>
    <ion-content class="stable-bg has-expanded-header">
      <ion-list>
        <ion-item menu-close ng-click="changeState('app.dashboard')">
          Dashboard
        </ion-item>
        <ion-item menu-close ng-click="changeState('app.explicit-results')">
          Your Footprint Results - Report
        </ion-item>
        <ion-item menu-close ng-click="changeState('app.home')">
          Account
        </ion-item>
        <ion-item  menu-close ng-click="changeState('app.stats')">
          Your Posts
        </ion-item>
        <ion-item menu-close ng-click="changeState('app.friends-stats')">
          Tagged Posts
        </ion-item>
        <ion-item menu-close ng-click="changeState('app.third-party-stats')">
          Events
        </ion-item>
        <ion-item menu-close ng-click="changeState('app.page-likes-stats')">
          Likes
        </ion-item>
        <ion-item menu-close ng-click="showLogOutMenu()">
          Log Out
        </ion-item>
        <ion-item menu-close ng-show=isTesterAcc ng-click="showLogOutMenu()">
          RESET ACCOUNT
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
