<ion-view class="home-view">
  <ion-nav-title>
    <strong>BigFoot</strong> | Activity Analysis
  </ion-nav-title>
  <ion-content class="white">
    <div class="row">
      <div class="col">


        <div class="card">
          <div class="item item-divider">
            Facebook Likes
          </div>
          <div class="item item-text-wrap">
            <canvas id="fb-likes" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="{showTooltips: false}">
            </canvas>
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            Categories you like
          </div>
          <div class="item item-text-wrap">
            <ion-list>
              <ion-item ng-repeat="item in catitems">
                {{item.cat}} : {{item.count}} likes
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div class="card">
          <div class="item item-divider">
            Musical Taste
          </div>
          <div class="item item-text-wrap">
            <ion-list>
              <ion-item ng-repeat="genre in genreObj">
                {{genre.genre}} : {{genre.value}} likes
              </ion-item>
            </ion-list>
          </div>
        </div>


        <a class="button button-positive button-block " ng-click="sendlikestoProfile()">
          Continue
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>
